#featured {
    color: #BCBBBB;
}

#logo {
    margin-top: 10px;
}

#main_image {

    position:relative;
    overflow:hidden;

    margin-top: 10px;
    margin-bottom: 10px;
}

#header_signature {
    font-family: 'Boogaloo', cursive;
}

.links {
    color: #BCBBBB;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: #BCBBBB;
}

p, h3 {
    color: #747704;
    text-align: center;
}

body {
    background-color: #E6E6FA;
}