#featured-text {
    color: #BCBBBB;
    font-family: 'Boogaloo', cursive;
}

#logo {
    margin-top: 10px;
}

#main-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-signature {
    font-family: 'Boogaloo', cursive;
}

.links {
    color: #BCBBBB;
}

.navbar-default .navbar-collapse {
    background-color: #E6E6FA;
}

.container-fluid {
    background-color: #E6E6FA;
}

.collapsing {
    background-color: grey;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: #BCBBBB;
}

p {
    font-size: 150%
}

article {
     color: #747704;
    text-align: left;
    font-family: 'Boogaloo', cursive;
}

body {
    background-color: #E6E6FA;
}